# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables / secrets
.env
.env.*
!.env.example

# Django static files
staticfiles/
static/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Local files
*.sqlite3